.header{
    width: 100%;
    height: 80px;
    background: whitesmoke;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 100px;
}

.header-logo{
    font-size: 20px;
    font-weight: 900;
}
.toggle{
    display: none;
}
.header-nav{
    list-style: none;
    display: flex;
    margin: 0;
    /* margin-right: 45%; */
}

.header-nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 25px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(116, 67, 67, 1);
}

.header-nav-item:hover::after{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: rgba(255, 189, 84, 1);
}

.header-login{
    display: flex;
}

.sign-in{
    border-radius: 35px;
    background: #DD7979;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
    transition: all 1s;
}

.sign-in:hover{
    transition: all 1s;
    border:  1px solid #DD7979;
    background: whitesmoke;
    color: #DD7979;
}

.sign-up{
    border:  1px solid #DD7979;
    border-radius: 35px;
    background: whitesmoke;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #DD7979;
    margin-right: 20px;
    transition: all 1s;
}
.sign-up:hover{
    border:  1px solid whitesmoke;
    background: #DD7979;
    color: whitesmoke;
    transition: all 1s;
}

.sign-in:active, .sign-up:active{
    opacity: 0.6;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header{
        padding: 0 80px;
    }
    
    .toggle{
        display: none;
    }
    .header-contact{
       width: 90px;
       height: 35px;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header{
        padding: 0 30px;
    }

    .header-contact{
        width: 70px;
        height: 27px;
        font-size: 14px;
     }

     .toggle{
         display: block;
         margin-left: 57%;
     }
     .toggle:hover ~ .header-nav{
        transform: translate(0, 0);
    }
     .toggle >img{
         width: 25px;
         height: 25px;
     }
     .header-nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: whitesmoke;
        color: white;
        z-index: 2;
        top: 90px;

        width: 50%;
        height: 200px;

        transform: translateX(-120%);
        transition: transform .8s ease;

        margin: 0;
        padding: 35px 0;

        line-height: 35px;
     }

     
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header{
        width: 100%;
        padding: 0 15px;
    }

    .header-contact{
        width: 70px;
        height: 27px;
        font-size: 14px;
     }

     .toggle{
         display: block;
         margin-left: 37%;
     }
     .toggle:hover ~ .header-nav{
        transform: translate(0, 0);
    }
     .toggle >img{
         width: 25px;
         height: 25px;
     }
     .header-nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: whitesmoke;
        color: white;
        z-index: 2;
        top: 90px;

        width: 93%;
        height: 200px;

        transform: translateX(-120%);
        transition: transform .8s ease;

        margin: 0;
        padding: 35px 0;

        line-height: 35px;
     }

     
}